&[data-converse-theme="classic"],
&[data-bs-theme="classic"] {
    $theme: 'classic' !default;

    // Hex color values
    // ----------------
    --blue: #387592;
    --dark-blue: #397491;
    --dark-green: #1e9652;
    --dark-red: #d24e2b;
    --gray: #818479;
    --green: #3aa569;
    --light-blue: #578ea9;
    --lighter-blue: #eff4f7;
    --orange: #e7a151;
    --redder-orange: #e77051;

    // Base variables
    // --------------
    --background-color: white;
    --chat-color: var(--green);
    --chat-status-away: var(--orange);
    --chat-status-busy: var(--red);
    --chat-status-offline: gray;
    --chat-status-online: var(--green);
    --controlbox-color: var(--light-blue);
    --danger-color: var(--dark-red); // dark-red
    --disabled-color: gray;
    --error-color: var(--dark-red);
    --focus-color: #206485;
    --foreground-color: #666;
    --heading-color: var(--background-color);
    --headlines-color: var(--orange);
    --info-color: var(--dark-green);
    --link-color: var(--light-blue);
    --muc-color: var(--redder-orange);
    --primary-color: var(--light-blue) !important;
    --secondary-color: #a8aba1 !important;
    --selection-color: black;
    --success-color: var(--green);
    --warning-color: var(--orange);

    // Derived colors
    // --------------
    --brand-heading-color: var(--blue);
    --chat-color-hover: var(--chat-color);
    --danger-color-hover: var(--danger-color);
    --global-background-color: var(--dark-blue);
    --link-color-hover: var(--link-color);
    --muc-color-hover: var(--muc-color);
    --primary-color-hover: var(--dark-blue);
    --secondary-color-hover: #585b51;
    --success-color-hover: var(--success);
    --warning-color-hover: #d2842b;
}
